@{
    ViewData["Title"] = "Home Page";
    Context.Request.Cookies.TryGetValue("Name", out var Name);
}
@if(Name != null)
{
    <div class="text-center">
        <h1 class="display-4">Welcome,@Name</h1>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Please login or Register</h1>
    </div>
}