@model IEnumerable<ForTestIdeas.Domain.Entities.User>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewBag.UserSureName @ViewBag.UserName</h1>
    
   
</div>