@model IEnumerable<ForTestIdeas.Domain.Entities.User>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
  
    <td>@ViewBag.UserSureName</td>
    <td>@ViewBag.UserName</td>
    <div>
    <a class="btn btn-primary" asp-area="" asp-controller="User" asp-action="Logout">LogOut</a>
    </div>
   
</div>