@using ForTestIdeas.Domain.Entities
@inject Microsoft.AspNetCore.Identity.SignInManager<User> _signInManager

<li  class="nav-item dropdown">
    
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Register">Register</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">Login</a>
</li>